.contact-method{
  display: inline-block;
  width: 32%;
  text-align: center;
  white-space: nowrap;
  max-width: 33%;
  background-color: #0E5F8E;
}


#contact-section{
  max-width: 100%;
  background-color: #084367;
  color: white;
}

#contact-section h2{
  text-align: center;
  padding-top: 10px;

}

a.footer-link{
  color: white;
}
